{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<h1>KALENDARZ MECZOWY</h1>

<br>

<p onload="przypisanie()"></p>

<!-- Zakładki -->

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="pills-1-tab" data-bs-toggle="pill" data-bs-target="#zakladka1" type="button" role="tab" aria-controls="zakladka1" aria-selected="true">Dziś</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-2-tab" data-bs-toggle="pill" data-bs-target="#zakladka2" type="button" role="tab" aria-controls="zakladka2" aria-selected="false">Jutro</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-3-tab" data-bs-toggle="pill" data-bs-target="#zakladka3" type="button" role="tab" aria-controls="zakladka3" aria-selected="false">Pojutrze</a>
  </li>
</ul>



<!-- Zawartość zakładek -->
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane active" id="zakladka1" >
    {% for i in ListaEventow %}
        {% if i.day == 1 %}
        <div class="event">
            {{ i.time }}
            {% if i.discipline == 'pilkanozna' %}
                ⚽
            {% elif i.discipline == 'siatkowka' %}
                🏐
            {% elif i.discipline == 'koszykowka' %}
                🏀
            {% elif i.discipline == 'magazyn' %}
                📺
            {% elif i.discipline == 'motor' %}
                🏍️‍
            {% elif i.discipline == 'hokej' %}
                🏒‍
            {% elif i.discipline == 'walki' %}
                ‍🥊
            {% elif i.discipline == 'tenis' %}
                🥎
            {% endif %}
            {{ i.event }}
            <br>
          </div>
      {% endif %}

    {% endfor %}
</div>
    <div class="tab-pane" id="zakladka2">
        {% for i in ListaEventow %}
            {% if i.day == 2 %}
            <div class="event">
                {{ i.time }}
                {% if i.discipline == 'pilkanozna' %}
                    ⚽
                {% elif i.discipline == 'siatkowka' %}
                    🏐
                {% elif i.discipline == 'koszykowka' %}
                    🏀
                {% elif i.discipline == 'magazyn' %}
                    📺
                {% elif i.discipline == 'motor' %}
                    🏍️‍
                {% elif i.discipline == 'hokej' %}
                    🏒‍
                {% elif i.discipline == 'walki' %}
                    ‍🥊
                {% elif i.discipline == 'tenis' %}
                    🥎
                {% endif %}
                {{ i.event }}
                <br>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="tab-pane" id="zakladka3">

        {% for i in ListaEventow %}

            {% if i.day == 3 %}
            <div class="event">
                {{ i.time }}
                {% if i.discipline == 'pilkanozna' %}
                    ⚽
                {% elif i.discipline == 'siatkowka' %}
                    🏐
                {% elif i.discipline == 'koszykowka' %}
                    🏀
                {% elif i.discipline == 'magazyn' %}
                    📺
                {% elif i.discipline == 'motor' %}
                    🏍️‍
                {% elif i.discipline == 'hokej' %}
                    🏒‍
                {% elif i.discipline == 'walki' %}
                    ‍🥊
                {% elif i.discipline == 'tenis' %}
                    🥎
                {% endif %}

                {{ i.event }}

                <br>
            </div>
            {% endif %}
        {% endfor %}
        {{ ListaEventow.1.day }}
        {% if '3' in ListaEventow %}
            <div class="brak-danych">
                <h1> Brak danych na tę chwilę </h1>
                {{ ListaEventow }}
                <br>
            </div>
        {% endif %}
    </div>
</div>


{% endblock %}
